
@import "https://fonts.googleapis.com/css?family=Roboto:400,500,900";
body {
    color: #333;
}
a {
    color: #333;
}
a:hover {
    text-decoration: none;
}
div.background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.content-main {
    margin: 2em auto 0;
    max-width: 1280px;
}
.nav-1 {
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 1em 0;
    text-align: right;
    text-transform: uppercase;
}
.nav-2 {
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: right;
}
.nav-1 a, .nav-2 a {
    padding: 0 0.3em;
}
a.logo img {
    max-width: 387px;
    width: 100%;
}
.btn-learn-more {
    border: 2px solid #333;
    font-size: 20px;
    font-weight: 500;
    margin: 2em 0;
    padding: 1.3em 2em;
}
.full-screen {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-caption {
    left: 15%;
    right: 15%;
    text-align: right;
    text-shadow: none;
    top: 30em;
}
.carousel-caption h2 {
    color: #333;
    font-size: 4.5em;
    font-weight: 900;
    margin-bottom: 1em;
}
.desktop {
    display: block;
    z-index: 101;
}
.mobile {
    display: none;
}
.mobile-carousel {
    display: none;
}
.mobile-menu {
    display: none;
}
@media (max-width: 930px) {
.nav-2 {
    font-size: 19px;
}
}
@media (max-width: 768px) {
.nav-2 {
    font-size: 19px;
}
.mobile {
    display: block;
}
.desktop {
    display: none;
}
.mobile .fa {
    font-size: 1.4em;
    position: relative;
}
a.logo img {
    width: 70%;
}
.mobile .fa {
    padding: 0 0 0 16px;
}
.desktop-carousel {
    display: none;
}
.mobile-carousel {
    display: block;
}
.mobile-carousel img {
    position: relative;
    width: 100%;
}
.mobile-carousel h3 {
    bottom: 11px;
    color: #fff;
    font-weight: 100;
    margin-left: 5%;
    position: absolute;
    width: 100%;
}
.mobile-menu {
    background: #000 none repeat scroll 0 0;
    display: none;
    font-size: 1.4em;
    font-weight: 900;
    padding-top: 1.2em;
    position: absolute;
    top: 90px;
    width: 100%;
    z-index: 100;
}
.mobile-menu ul {
    list-style-type: none;
}
.mobile-menu ul li {
    padding-bottom: 0.8em;
}
.mobile-menu ul li a {
    color: #fff;
}
ul.m-nav-1 {
    padding-left: 10px;
}
.m-nav-sub-1 {
    background: #464646 none repeat scroll 0 0;
    display: none;
    font-weight: 100;
    padding-top: 1em;
}
.m-pri-nav-1{text-align: center;}
.m-pri-nav-1 a{color: #fff; text-transform: uppercase; font-size: 14px; padding: 0 8px; font-weight: 100;}
}
.carousel-indicators{
	margin-left: -25%;
    text-align: right;
     position: relative;
     bottom: 70px;
}
.carousel-indicators li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #000;
    border-radius: 0;
    height: 16px;
    position: relative;
    top: 5px;
    width: 38px;

}
.carousel-indicators .active {
    background: #000 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    height: 8px;
    position: relative;
    top: 0;
    width: 31px;
    margin-right: 2px; 
    margin-left: 2px;
}
.carousel-indicators .active::before {
    border: 2px solid #000;
    content: "";
    display: block;
    height: 16px;
    left: -4px;
    position: relative;
    top: -4px;
    width: 39px;
    z-index: -1;
}
